{% extends 'base.html.twig' %}

{% block title %}Keen of Arts{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        width: 95%;
        font: 20px/2 sans-serif;
        font-family: Arial, Helvetica, sans-serif;
    }

    .big-txt {
        margin: 1em auto;
        width: 95%;
        font: 20px/2 sans-serif;
        font-family: Arial, Helvetica, sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="p-5 ">
    <div class="example-wrapper">
        {% for cards in cardsByVideo %}
            <p class="font-weight-bold d-flex justify-content-center my-5 text-{{ colors[loop.index] }}"
               style="font-family: Arial, Helvetica, sans-serif;font-size: 28px"> Bloc  {{ loop.index }}</p>
            <div class="row text-center d-flex justify-content-around">
                {% for card in cards %}
                {% if card.user == null %}
                <div class="col-md-6 col-lg-3 col-sm-6 card p-2 mx-4 my-5 border-{{ colors[loop.parent.loop.index] }} rounded-lg rounded-top">
                    {% else %}
                    <div class="col-md-6  col-lg-3 col-sm-6 mx-4 my-5 text-light bg-secondary card">
                        {% endif %}
                        <div class="card-header font-weight-bolder border-{{ colors[loop.parent.loop.index] }} bg-{{ colors[loop.parent.loop.index] }} big-txt">
                            <p>{{ card.title }}</p></div>
                        <div class="card-body">
                            <p class="big-txt">{{ card.content }}</p>
                        </div>
                        <div class="card-footer ">
                            {% if card.user == null %}
                                <a href="takeCard/{{ card.id }}"
                                   class="  btn  border-{{ colors[loop.parent.loop.index] }} d-flex align-items-end">
                                    <p class="big-txt text-{{ colors[loop.parent.loop.index] }}">Je réserve cette carte</p>
                                </a>
                            {% else %}
                                <p>Cette carte est réservée par {{ card.user.prenom }}, {{ card.user.pays }}
                                    , {{ card.user.ville }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
